
<div class="header-left">
  <div class="header-name">
    <div class="icon">
      <h1>在庫管理</h1>
    </div>
  </div>
</div>

<div class="header-right">
  <ul class="header-menu">
    <li class="menu-list">
      <%= link_to "在庫一覧", root_path, class: 'btn'%>    
    </li>
    <li class="menu-list">
      <%= link_to "発注履歴", orders_path, class: 'btn'%>    
    </li>
    <li class="menu-list">
      <%= link_to "商品を追加", new_stock_path, class: 'btn' %>    
    </li>
     <li class="menu-list">
      <%= link_to current_user.name, edit_user_path(current_user), class: 'btn' %>      
    </li>
    <li class="menu-list">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>         
    </li>
  </ul>
</div>