<div class="stock-content">
  <div class="stock-name">
    <h1>商品在庫一覧</h1>
  </div>
  <table>
    <thead class="table-head">
      <tr>
        <th>商品番号</th>
        <th>商品名</th>
        <th>著者</th>
        <th>個数</th>
        <th>種類</th>
        <th>ジャンル</th>
        <th>出版社</th>
        <th class="select"></th>
        <th class="select"></th>
        <th class="select"></th>
      </tr>
    </thead>
    <% @stocks.each do |stock| %>
      <tbody class="table-body">
        <tr>
          <td><%= stock.number %></td>
          <td><%= stock.name %></td>
          <td><%= stock.author %></td>
          <td><%= stock.stock %></td>
          <td><%= stock.genre.name %></td>
          <td><%= stock.code.name %></td>
          <td><%= stock.publisher.name %></td>
          <td class="select-btn"><%= link_to '編集',  method: :delete %></td> 
      </tbody>
    <% end %>
  </table>
</div>