<div class="wrapper">
  <div class= "header-bar">
    <%= render "stocks/header_bar" %>
  </div>
  <div class="contents row">
    <div class="container">
      <h1>商品を追加する</h1>
        <div class="form">
        <%= form_with model: @stock, url: stocks_path, local: true do |f| %>
         <%= render 'error_messages', model: f.object %> 
        <div class="item-detail"> 
          <div class="form-name"> 
            商品番号
            <span class="dispensable">必須</span>
          </div>
          <%= f.text_field :number, placeholder: "商品番号" %>
          <div class="form-name"> 
            商品名
            <span class="dispensable">必須</span>
          </div>
          <%= f.text_field :name, placeholder: "商品名" %>
          <div class="form-name"> 
            著者
            <span class="dispensable">必須</span>
          </div>      
          <%= f.text_field :author, placeholder: "著者" %>
          <div class="form-name"> 
            個数
            <span class="dispensable">必須</span>
          </div>      
          <%= f.number_field :stock, placeholder: "個数", min: 0 %>
        </div>
        <div class="item-detail">
          <div class="form-name"> 
            種類
            <span class="dispensable">必須</span>
          </div>       
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box"}) %>
          <div class="form-name"> 
            ジャンル
            <span class="dispensable">必須</span>
          </div>      
          <%= f.collection_select(:code_id, Code.all, :id, :name, {}, {class:"select-box"}) %>
          <div class="form-name"> 
            出版社
            <span class="dispensable">必須</span>
          </div>      
          <%= f.collection_select(:publisher_id, Publisher.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <%= f.submit "追加" %>
      <% end %>
    </div>
  </div>
</div>